<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceabc1">  <td>19/04/16 00:16:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC101_CreateLead.setData()[pri:0, instance:testcases.TC101_CreateLead@4f7d0008]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/04/16 00:16:53</td>   <td>589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC101_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC101_CreateLead@4f7d0008]">createLead</td> 
  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/04/16 00:16:53</td>   <td>627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC101_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC101_CreateLead@4f7d0008]">createLead</td> 
  <td>main@19986569</td>   <td></td> </tr>
</table>
