<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>week5.day1.CreateLeadTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>cLeadTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>duplicateLeadTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>mLeadTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteLeadTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>eLeadTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
