<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f37dec">  <td>19/04/23 10:59:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeadTest.cLeadTest()[pri:0, instance:week5.day1.CreateLeadTest@76f4b65]">cLeadTest</td> 
  <td>main@759156157</td>   <td></td> </tr>
<tr bgcolor="f37dec">  <td>19/04/23 10:59:23</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeadTest.deleteLeadTest()[pri:0, instance:week5.day1.CreateLeadTest@76f4b65]">deleteLeadTest</td> 
  <td>main@759156157</td>   <td></td> </tr>
<tr bgcolor="f37dec">  <td>19/04/23 10:59:23</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeadTest.duplicateLeadTest()[pri:0, instance:week5.day1.CreateLeadTest@76f4b65]">duplicateLeadTest</td> 
  <td>main@759156157</td>   <td></td> </tr>
<tr bgcolor="f37dec">  <td>19/04/23 10:59:23</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeadTest.eLeadTest()[pri:0, instance:week5.day1.CreateLeadTest@76f4b65]">eLeadTest</td> 
  <td>main@759156157</td>   <td></td> </tr>
<tr bgcolor="f37dec">  <td>19/04/23 10:59:23</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeadTest.mLeadTest()[pri:0, instance:week5.day1.CreateLeadTest@76f4b65]">mLeadTest</td> 
  <td>main@759156157</td>   <td></td> </tr>
</table>
