<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4c875">  <td>19/04/14 09:04:25</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;DeleteLead.setData()[pri:0, instance:week5.day1.DeleteLead@13deb50e]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>19/04/14 09:04:26</td>   <td>698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week5.day1.DeleteLead@13deb50e]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>19/04/14 09:04:32</td>   <td>7025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.deleteLead(java.lang.String)[pri:0, instance:week5.day1.DeleteLead@13deb50e]">deleteLead</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>19/04/14 09:04:49</td>   <td>24110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week5.day1.DeleteLead@13deb50e]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@836514715</td>   <td></td> </tr>
</table>
