<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94d491">  <td>19/04/20 15:58:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.selbot.testcases.TC002_DuplicateLead@13a5fe33]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>19/04/20 15:58:32</td>   <td>-18683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.selbot.testcases.TC002_DuplicateLead@13a5fe33]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>19/04/20 15:58:35</td>   <td>-15054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_DuplicateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.selbot.testcases.TC002_DuplicateLead@13a5fe33]">createLead</td> 
  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>19/04/20 15:58:50</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_DuplicateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.selbot.testcases.TC002_DuplicateLead@13a5fe33]">createLead</td> 
  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>19/04/20 15:58:31</td>   <td>-19433</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.selbot.testcases.TC002_DuplicateLead@13a5fe33]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>19/04/20 15:58:31</td>   <td>-19573</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_DuplicateLead.setData()[pri:0, instance:com.selbot.testcases.TC002_DuplicateLead@13a5fe33]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="85b2fe">  <td>19/04/20 15:58:31</td>   <td>-19563</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.selbot.testcases.TC002_DuplicateLead@13a5fe33]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>19/04/20 15:58:30</td>   <td>-20162</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.selbot.testcases.TC002_DuplicateLead@13a5fe33]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>19/04/20 15:58:50</td>   <td>107</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.selbot.testcases.TC002_DuplicateLead@13a5fe33]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="85b2fe">  <td>19/04/20 15:58:50</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.selbot.testcases.TC002_DuplicateLead@13a5fe33]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
</table>
